.img-wrap{
	position: relative;
	text-align: center;

	
	.img-content-wrap{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
	}

	.img-card-lg-wrap{
		
		@extend .img-content-wrap;
		top: 15%;
		color: white;
		padding: 0px 60px;

		@media (min-width: $screen-md-min) and (max-width: $screen-md-max){
			padding: 0px 20px;
		}

		h2{
			font-size: 20px;
			font-weight: 700;
			margin-bottom: 30px;
		}
	}
	.img-card-sm-wrap{
		
		@extend .img-content-wrap;
		color: white;
		
		@media (min-width: $screen-md-min) and (max-width: $screen-md-max){
			
			padding: 0px 20px;
			margin-top: 0px;

			h2{
				margin-top: 0px;
			}
		}

	}
	.img-content-footer{
		@extend .img-content-wrap;
		top: 80%;
	}
}

//Media Query $screen-md
@media (min-width: $screen-md-min) and (max-width: $screen-md-max){
	.img-wrap{
		.img-card-lg-wrap{
			h2{
				font-size: 16px;
			}

			p{
				font-size: 12px;
			}
		}
	}
}