//Home page Jumbotron 
.panel-widget-style{
    .so-widget-jumbotron-widget{
    height: 649px;
    padding: 180px 0px;
    text-align: center;

    h1{
    	font-size: 48px;
    	margin-bottom: 50px;

    	@media (min-width: $screen-md-min) and (max-width: $screen-md-max){
    		font-size: 41px;
				font-weight: 300;
    	}
    }

    p{
    	margin-bottom: 40px;
    }
  }
}

/*
 * Business Card Styles
 */
.card-wrapper{
	height: 568px;
	@media (min-width: $screen-md-min) and (max-width: $screen-md-max){
		height: 372px;
	}
}
.card-header{
	color: white;
	padding: 16px 0px 35px 0px;
	width: 100%;
	height: 165px;
	
	@media (min-width: $screen-md-min) and (max-width: $screen-md-max){
		height: 110px;
		padding: 10px 0px 15px 0px;
	}
	
	h2 {
		font-weight: 800;
		text-transform: uppercase;
		font-size: 20px;
		letter-spacing: 0.3px;
		margin-bottom: 14px;
		margin-top: 14px;

		@media (min-width: $screen-md-min) and (max-width: $screen-md-max){
			font-size: 16px;
			margin-top: 14px;
			margin-bottom: 14px;
		}
	}

	i {
		display: block;
	}
}
.card-header.blue{
	background-color: $brand-primary;
}

.card-body{
	background-color: white;
	height: 292px;
	padding: 26px;
	text-align: center;
	
	@media (min-width: $screen-md-min) and (max-width: $screen-md-max){
		height: 210px;
		padding:	10px;
	}

	p{
		margin-bottom: 20px;
		text-align: left;
		
		@media (min-width: $screen-md-min) and (max-width: $screen-md-max){
			margin-bottom: 10px;
			font-size: 12px;
		}
	}
	p:last-of-type{
		margin-bottom: 40px;

		@media (min-width: $screen-md-min) and (max-width: $screen-md-max){
			margin-bottom: 20px;
		}
	} 
}
.card-footer{
	height: 103px;
	text-align: center;
	border-top: 1px solid #eee;
	background-color: white;
	padding: 20px;

	@media (min-width: $screen-md-min) and (max-width: $screen-md-max){
		padding: 10px;
		height: 50px;
	}
}