// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #283244;
$body-bg:               #f2f2f2;
$navbar-default-bg:     #e4e9f2;
$navbar-default-link-color: $brand-primary;

$blue-gray:				#283244;
$pink:					#cf3f74;
$aqua:					#91bab2;
$med-gray:				#5f646d;
$periwinkle:			#aeb7c7;