// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$pink:                  #CF3F74;
$green:                 #91BAB2;
$brand-primary:         #283244;

$body-bg:               #f2f2f2;
$navbar-default-bg:     #e4e9f2;
$navbar-default-link-color: $brand-primary;