.banner{
	background-color: $brand-primary; 
	min-height: 150px; 
	width: 100%;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav {
    width: 100%;
    > li:first-child {
        > a {
            padding-left: 0px;
        }
    }
    
    > li:last-child {
        float: right;
        > a {
            padding-right: 0px;
        }    
    }
}