.wrap.container{
	background-color: #ffffff;
}
//Home page

.panel-widget-style{
    .so-widget-jumbotron-widget{
    height: 649px;
    padding-top: 200px;
    text-align: center;
    }
}

.card-header.blue{
	background-color: $brand-primary;
	height: 100px;
}
